{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<div class="content">
    Tervetuloa Sipsitykseen! Muistathan lukea sivun <a href="/rules">säännöt</a> ennen uuden tunnuksen
    luontia!
    <ul>
        KYMMENEN SUOSITUINTA AIHETTA
        {% for topic in topics %}
        <li>
            <a href="{{ '/topic/%s'%topic[0]}}">{{ topic[1] }}</a>
        </li>
        {% endfor %}
        <a href="/newtopic">
            <i>Ehdota aihetta</i>
        </a>
        <a href="/topics">
            <i>Kaikki aiheet</i>
        </a>
        {% endblock %}
    </ul>
</div>