<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<title>Foorumi - {% block title %}{% endblock %}</title>
<h1>
    <a href="/">SIPSITYS</a>
</h1>
<hr>
{% if session.user_id %}
Olet kirjautuneena sisään käyttäjänimellä <a
    href="{{ '/profile/%s'%session['username']}}">{{ session['username'] }}</a>.
<a href="/logout">Kirjaudu ulos</a>
{% if session.admin > 0 %}
<a href="/flagged/messages">RAPORTOIDUT VIESTIT</a>
{% endif %}
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
</hr>
<hr>
{% block content %}{% endblock %}
<hr>