{% extends "layout.html" %}
{% block title %}Profiili{% endblock %}
{% block content %}
<h2>{{ user }}</h2>
Omat viestit:
{% for message in messages %}
<div class="message">
    <ul>
        <a href="{{ user }}{{'/editmessage/%s'%message[3]}}">
            <i>Muokkaa</i>
        </a>
    </ul>
    <ul>
        <div class="drawer">
            <input type="checkbox">
            Poista
            <div class="drawer_content">
                <li>Oletko varma?</li>
                <form action="{{ user}}{{ '/deletemessage/%s'%message[3]}}" method="post">
                    <button type="submit" class="remove_button">Kyllä</button>
                </form>
            </div>
        </div>
    </ul>
    {{ message[2] }}
    <h3>
        {{ message[0] }}
    </h3>
    {{ message[1] }}
</div>
{% endfor %}
{% endblock %}