{% extends "layout.html" %}
{% block title %}Profiili{% endblock %}
{% block content %}
<h2>{{ user }}</h2>
Omat viestit:
{% for message in messages %}
<div class="message">
    <ul>
        <li>Muokkaa</li>
    </ul>
    <ul>
        <div class="drawer">
            <input type="checkbox">
            Poista
            <div class="drawer_content">
                <li>Haluatko varmasti poistaa?</li>
                <form action="{{ t_id}}{{ '/deletemessage/%s'%message[2]}}" method="post">
                    <button type="submit" class="btn-link">Kyllä, poista viesti</button>
                </form>
            </div>
        </div>
    </ul>
    {{ message[2] }}
    <h3>
        {{ message[0] }}
    </h3>
    {{ message[1] }}
</div>
{% endfor %}
{% endblock %}