{% extends "layout.html" %}
{% block title %}Uusi käyttäjä{% endblock %}
{% block content %}
{% if message %}
<h3>{{ message }}</h3>
{{ additional }}
{% endif %}
<h2>Luo uusi käyttäjä</h2>
<form action="/register" method="post">
    Tunnus: <input type="text" name="username">
    <p>
        Salasana: <input type="password" name="password">
    <p>
        Salasana uudelleen: <input type="password" name="passwordconf">
    <p>
        <input type="submit" value="Luo tunnus">
</form>
Rekisteröitymällä käyttäjä sitoutuu noudattamaan alustan <a href="/rules">sääntöjä</a>. Sääntörikkomuksista voi seurata
tunnuksen ns. sipsittäminen (ks. tuho, murskaus, rapina, suola).
{% endblock %}