{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h2>Sipsitys-keskustelualustan säännöt</h2>
<ul>
    <li>Vain sipsiaiheinen viestittely sallittu, jokaiseen viestiin on liityttävä jollain tavalla sipsi!</li>
    <li>Dannyn ja Erikan mainitseminen sallittua VAIN RUNOMITASSA ja sipsien ympäröimänä</li>
    <li>Viestin tulee liittyä yhteen tai useampaan aihealueseen selkeästi! Uusia aihe-ehdotuksia otetaan jatkuvasti
        vastaan</li>
    <li>Sipsitys on ikärajaton keskustelualusta, eli kaikenlainen kaksimielisyys on oltava taitavan sanailun takana
        piilossa, jos sielläkään!</li>
</ul>
Sääntöjen rikkominen voi johtaa väliaikaiseen tai pysyvään sipsitakavarikkoon. Kaikki lähetetyt viestit ovat alustan
moderaattorien
sipsitettävissä. Käyttäjä on yksin vastuussa alkuperäisen viestinsä sisällöstä sipsioikeudellisesti ja ihan noin
muutenkin. Olkaa nyt hyvät ihmiset nätisti.
{% endblock %}