{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}
{% block content %}
{% if t_id %}
<ul class="fixed">
    <a href="{{ '/topic/%s'%t_id}}/newmessage">
        <i>Lisää viesti</i>
    </a>
</ul>
{% endif %}
<h2>{{ name }}</h2>
{% for message in messages %}
<div class="message">
    {% if session.user_id and session.user_id == message[3]%}
    <ul>
        <li>Muokkaa</li>
    </ul>
    <ul>
        <div class="drawer">
            <input type="checkbox">
            Poista
            <div class="drawer_content">
                <li>Oletko varma?</li>
                <form action="{{ t_id}}{{ '/deletemessage/%s'%message[2]}}" method="post">
                    <button type="submit" class="btn-link">Kyllä</button>
                </form>
            </div>
        </div>
    </ul>
    {% endif %}
    <h3>
        {{ message[0] }}
    </h3>
    {{ message[1] }}
</div>
{% endfor %}
{% endblock %}