{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}
{% block content %}
{% if t_id %}
<ul class="fixed">
    <a href="{{ '/topic/%s'%t_id}}/newmessage">
        <i>Lisää viesti</i>
    </a>
</ul>
{% endif %}
<h2>{{ name }}</h2>
<!-- Kommentointi koodissa ei normaalisit ole kovin siisti tapa. Nyt on kuitenkin pakko todeta, että
    tiedostan eri aikojen if-else rakenteen olevan todella hirviömäinen. Tämä johtuu pitkälti siitä, että rakennuslogiikan kannalta vertailu on
    helpointa tehdä tässä. Lopputuloksena rakentuu kuitenkin siisti HTML-->
{% for message in messages %}
<div class="message">
    {% if message[4] == 1 %}
    {{ message[4]|int }} vuosi sitten
    {% elif message[4] %}
    {{ message[4]|int }} vuotta sitten
    {% elif message[5] == 1 %}
    {{ message[5]|int }} kuukausi sitten
    {% elif message[5] %}
    {{ message[5]|int }} kuukautta sitten
    {% elif message[6] == 1 %}
    {{ message[6]|int }} päivä sitten
    {% elif message[6] %}
    {{ message[6]|int }} päivää sitten
    {% elif message[7] == 1 %}
    {{ message[7]|int }} tunti sitten
    {% elif message[7] %}
    {{ message[7]|int }} tuntia sitten
    {% elif message[8] == 1 %}
    {{ message[8]|int }} minuutti sitten
    {% elif message[8] %}
    {{ message[8]|int }} minuuttia sitten
    {% else %}
    Juuri nyt
    {% endif %}
    {% if session.user_id == message[3] or session.admin > 0 %}
    <ul>
        <a href="{{ t_id }}{{'/editmessage/%s'%message[2]}}">
            <i>Muokkaa</i>
        </a>
    </ul>
    <ul>
        <div class="drawer">
            <input type="checkbox">
            Poista
            <div class="drawer_content">
                <li>Oletko varma?</li>
                <form action="{{ t_id}}{{ '/deletemessage/%s'%message[2]}}" method="post">
                    <button type="submit" class="custom_button">Kyllä</button>
                </form>
            </div>
        </div>
    </ul>
    {% endif %}
    <ul>
        <div class="drawer">
            <input type="checkbox">
            Raportoi
            <div class="drawer_content">
                <li>Raportoi asiaton viesti?</li>
                <form action="{{'/flag/%s'%message[2]}}" method="post">
                    <button type="submit" class="custom_button">Kyllä</button>
                </form>
            </div>
        </div>
    </ul>
    <h3>
        {{ message[0] }}
    </h3>
    {{ message[1] }}
</div>
{% endfor %}
{% endblock %}